/* Your custom css code goes here */
body {
    color: rgba(255,255,255,.7  );
}

.icon {
    font-size: 30px;
}
.badge-custom {
    background-color: #22eeaa;
    color:#000;
}
.spacing{
    margin-left: 20px;
}

.grey {
    background: #FAFAFA;
    border: solid 1px #EBEBEB;
}

.blue {
    background: #FAFAFA;
    border: solid 1px #cec7c7;
}

.color {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.probootstrap-footer {
    padding: 0em 0;
  }

  .stack-link li , .probootstrap-social li{
   display: inline;
   padding-right: 12px;
  }

  .probootstrap-social li {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
  }